In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,82.45,78,20,11.50,CK,2022-02-01 20:56:00
1,1,Martapura,-3.4167,114.8500,75.29,100,100,2.30,ID,2022-02-01 20:59:57
2,2,Bluff,-46.6000,168.3333,73.80,71,100,13.18,NZ,2022-02-01 20:59:58
3,3,Narsaq,60.9167,-46.0500,-1.55,86,63,3.49,GL,2022-02-01 20:59:58
4,4,Caravelas,-17.7125,-39.2481,80.01,82,63,8.16,BR,2022-02-01 20:59:59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,82.45,78,20,11.50,CK,2022-02-01 20:56:00
1,1,Martapura,-3.4167,114.8500,75.29,100,100,2.30,ID,2022-02-01 20:59:57
4,4,Caravelas,-17.7125,-39.2481,80.01,82,63,8.16,BR,2022-02-01 20:59:59
14,14,Tamandare,-8.7597,-35.1047,80.60,74,22,6.53,BR,2022-02-01 21:00:07
17,17,San Cristobal,7.7669,-72.2250,77.18,31,95,6.08,VE,2022-02-01 20:55:44
19,19,Port Alfred,-33.5906,26.8910,77.23,82,100,9.15,ZA,2022-02-01 20:59:21
33,33,Carnarvon,-24.8667,113.6333,76.37,77,100,7.94,AU,2022-02-01 21:00:32
47,47,Souillac,-20.5167,57.5167,77.36,93,100,27.83,MU,2022-02-01 21:00:38
50,50,Bambous Virieux,-20.3428,57.7575,77.22,91,100,29.39,MU,2022-02-01 21:01:39
56,56,Port Elizabeth,-33.9180,25.5701,77.09,76,100,3.62,ZA,2022-02-01 21:01:41

In [12]:
preferred_cities_df.count()

City_ID       168
City          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
Country       167
Date          168
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Avarua      CK     82.45 -21.2078 -159.7750
1         Martapura      ID     75.29  -3.4167  114.8500
4         Caravelas      BR     80.01 -17.7125  -39.2481
14        Tamandare      BR     80.60  -8.7597  -35.1047
17    San Cristobal      VE     77.18   7.7669  -72.2250
19      Port Alfred      ZA     77.23 -33.5906   26.8910
33        Carnarvon      AU     76.37 -24.8667  113.6333
47         Souillac      MU     77.36 -20.5167   57.5167
50  Bambous Virieux      MU     77.22 -20.3428   57.7575
56   Port Elizabeth      ZA     77.09 -33.9180   25.5701

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
1,Martapura,ID,75.29,-3.4167,114.8500,Montana Hotel Syariah
4,Caravelas,BR,80.01,-17.7125,-39.2481,Pousada dos Navegantes
14,Tamandare,BR,80.60,-8.7597,-35.1047,Pousada 100 Passos
17,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.
19,Port Alfred,ZA,77.23,-33.5906,26.8910,The Halyards Hotel
33,Carnarvon,AU,76.37,-24.8667,113.6333,Hospitality Carnarvon
47,Souillac,MU,77.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
50,Bambous Virieux,MU,77.22,-20.3428,57.7575,Casa Tia Villa
56,Port Elizabeth,ZA,77.09,-33.9180,25.5701,39 On Nile Guest House

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))